<div class="about-rolex">
  <h1 class="title font-bold">À propos de Rolex</h1>
  <div class="flex justify-center align-center">
    <img src="https://logowik.com/content/uploads/images/275_rolex.jpg" alt="Logo Rolex" class="intro-image w-36 self-center animate__animated animate__backInDown" />
  </div>

  <section class="introduction animate__animated animate__backInLeft">
    <h2 class="font-bold">Introduction à Rolex</h2>
    <p>Rolex est un fabricant horloger suisse indépendant, intégré et renommé, basé à Genève. Célèbre pour ses montres de luxe, Rolex incarne l'innovation et l'excellence.</p>
    <img src="montre-rolex.png" alt="Logo Rolex" class="intro-image align-right" />
  </section>

  <section class="overview right-aligned animate__animated animate__backInRight">
    <h2 class="font-bold">Historique de Rolex</h2>
    <p>Découvrez les moments clés de l'histoire de Rolex à travers notre chronologie.</p>
    <img src="Exepertise-montre.png" class="rounded-lg">
  </section>

  <section class="internship animate__animated animate__backInLeft">
    <h2 class="font-bold">Mon Stage chez Rolex</h2>
    <p>Durant mon stage, j'ai migré une application de gestion de propriété intellectuelle d'AngularJS à Angular 17+, en assurant la cohérence de l'UX tout en modernisant l'UI.</p>
    <p>J'ai utilisé des technologies telles que PrimeNG, Java SpringBoot, et des outils DevOps, tout en apprenant les méthodologies agiles comme Scrum et Kanban.</p>
    <img src="DashBoardDelai.png">
  </section>

  <section class="future centered animate__animated animate__backInUp">
    <h2 class="font-bold">Impact sur mon Futur Professionnel</h2>
    <p>Cette expérience a renforcé mes compétences en analyse de besoin, en TypeScript et en intégration backend, tout en façonnant mes ambitions dans le secteur technologique et/ou du luxe.</p>
    <img src="cadran-vert-ajout-couronne.png" alt="Cadran vert avec couronne">
  </section>

</div>
