<div class="about-rolex">
  <h1 class="title">À propos de Rolex</h1>
  <section class="introduction">
    <h2>Introduction à Rolex SA</h2>
    <p>Rolex SA est un fabricant horloger suisse indépendant, intégré et renommé, basé à Genève. Célèbre pour ses montres de luxe, Rolex incarne l'innovation et l'excellence.</p>
    <img src="https://logowik.com/content/uploads/images/275_rolex.jpg" alt="Logo Rolex" class="intro-image" />
  </section>

  <section class="overview">
    <h2>Historique de Rolex</h2>
    <p>Découvrez les moments clés de l'histoire de Rolex à travers notre chronologie.</p>
    
  </section>

  <section class="internship">
    <h2>Mon Stage chez Rolex</h2>
    <p>Durant mon stage, j'ai migré une application de gestion de propriété intellectuelle d'AngularJS à Angular 17+, en assurant la cohérence de l'UX tout en modernisant l'UI.</p>
    <p>J'ai utilisé des technologies telles que PrimeNG, Java SpringBoot, et des outils DevOps, tout en apprenant les méthodologies agiles comme Scrum et Kanban.</p>
  </section>

  <section class="future">
    <h2>Impact sur mon Futur Professionnel</h2>
    <p>Cette expérience a renforcé mes compétences en design UI/UX, en TypeScript et en intégration backend, tout en façonnant mes ambitions dans le secteur technologique de luxe.</p>
  </section>

  <footer>
    <p>Travailler avec une maison emblématique comme Rolex a été une expérience inestimable, influençant profondément ma carrière.</p>
  </footer>
</div>
