<h1 class="underline">Mes Travaux</h1>
<div class="mes-travaux-container">
  <div class="image-card">
    <img src="image (1).png" alt="Travail 1">
  </div>
  <div class="image-card">
    <img src="image (2).png" alt="Travail 2">
  </div>
  <div class="image-card">
    <img src="image (3).png" alt="Travail 3">
  </div>
  <div class="image-card">
    <img src="image (4).png" alt="Travail 4">
  </div>
</div>

<!---Box qui contient les classifications et classes--->
<!---Box qui contient les compétences techniques et sociales--->
<div class="flex-container">
  <div class="flex-box">
    <h2 class="subtitle underline">Les classifications et classes</h2>
    <div>
      <p class="text">Classification de Nice</p>
    </div>
    <div>
      <p class="text">Classification national</p>
    </div>
    <div>
      <p class="text">Classe de produit</p>
    </div>
    <div>
      <p class="text">Classe de services</p>
    </div>
  </div>

  <div class="flex-box">
    <h2 class="subtitle underline">Les compétences techniques et sociales</h2>
    <div>
      <p class="text">API REST</p>
    </div>
    <div>
      <p class="text">Test Unitaires</p>
    </div>
    <div>
      <p class="text">Asynchrones</p>
    </div>
    <div>
      <p class="text">Méthodologies Agiles</p>
    </div>
    <div>
      <p class="text">Création de Endpoint en Java</p>
    </div>
  </div>
</div>
