<h1 class="underline">Mes Travaux</h1>
<div class="mes-travaux-container">
  <div class="image-card">
    <img src="image (1).png" alt="Travail 1">
  </div>
  <div class="image-card">
    <img src="image (2).png" alt="Travail 2">
  </div>
  <div class="image-card">
    <img src="image (3).png" alt="Travail 3">
  </div>
  <div class="image-card">
    <img src="image (4).png" alt="Travail 4">
  </div>
</div>

<!---Box qui contient les classifications et classes--->
<!---Box qui contient les compétences techniques et sociales--->
<div class="flex-container">
  <div class="flex-box">
    <h2 class="subtitle underline">Les classifications et classes</h2>
    <ul>
      <li class="text">Classification de Nice</li>
      <li class="text">Classification national</li>
      <li class="text">Classe de produit</li>
      <li class="text">Classe de services</li>
    </ul>
  </div>

  <div class="flex-box">
    <h2 class="subtitle underline">Les compétences techniques et sociales</h2>
    <ul class="text">
      <li class="text">API REST</li>
      <li class="text">Test Unitaires</li>
      <li class="text">Asynchrones</li>
      <li class="text">Méthodologies Agiles</li>
      <li class="text">Création de Endpoint en Java</li>
    </ul>
  </div>
</div>
