<h1 class="title">Mes Travaux</h1>
<div class="bento-grid">
  <div
    class="bento-item"
    *ngFor="let img of images; let i = index"
    (click)="openModal(img)"
    [ngClass]="{
      'wide': i === 1,
      'tall': i === 2,
      'large': i === 3,
      'position-5': i === 4,
      'position-6': i === 5,
      'position-7': i === 6
    }"
  >
    <img [src]="img.src" [alt]="img.alt" class="bento-image" />
  </div>
</div>

<!-- Modal Structure -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <img [src]="modalImageSrc" [alt]="modalImageAlt" />
    <div id="caption">{{ modalImageAlt }}</div>
  </div>
</div>
