<div class="expectations-container">
  <h1 class="title">Mes Attentes</h1>

  <div class="expectations-content">
    <p>Lors de mon stage chez Rolex, j'avais plusieurs attentes tant sur le plan professionnel que personnel. Voici un aperçu de ce que j'espérais obtenir de cette expérience inestimable.</p>

    <div class="expectations-grid">
      <div class="accordion-item">
        <h2 class="accordion-header">Attentes Professionnelles</h2>
        <div class="accordion-content">
          <ul>
            <li>Acquérir une expérience concrète en migration de tant que développeur, particulièrement avec la maitrise de Angular et son écosystème.</li>
            <li>Développer des compétences avancées en développement frontend et backend, en utilisant des technologies modernes comme Angular 17-18 et Java Spring Boot.</li>
            <li>Comprendre et appliquer les bonnes pratiques de développement logiciel, notamment en matière de gestion de projet et de CI/CD, mais aussi la maitrise des tests unitaires.</li>
          </ul>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">Attentes vis-à-vis de l'Entreprise</h2>
        <div class="accordion-content">
          <ul>
            <li>Travailler dans un environnement stimulant et collaboratif, en interaction avec des professionnels expérimentés, mais surtout avoir un développeur expérimenté pour m'aider en cas de blocage.</li>
            <li>Participer à des projets importants qui ont un impact direct sur les processus métier de Rolex.</li>
            <li>Recevoir des feedbacks constructifs pour améliorer continuellement mes compétences et mes connaissances dans le domaine et en tant que personne.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="image-container">
    <img class="animate__animated animate__jackInTheBox h-96 rounded-md" src="oeil-expert.png" alt="Image de mes attentes">
  </div>
</div>
