<div class="conclusion-container">
  <h1 class="title">Conclusion du Stage chez Rolex</h1>

  <div class="bento-grid">
    <div class="grid-item rolex-highlights">
      <h2 class="subtitle">À propos de Rolex</h2>
      <p>Rolex est une marque emblématique dans le secteur du luxe. Travailler chez Rolex m’a permis de découvrir les standards d’excellence, d’innovation et de précision qui caractérisent cette entreprise.</p>
      <p>L’atmosphère professionnelle est un mélange unique de tranquillité et de rigueur, où chaque détail compte. J'ai aussi pu comprendre que le syndrome de l'imposteur ne disparaîtra pas d'ici peu !</p>
      <p>L'une des leçons les plus précieuses que j'ai apprises est qu'il est possible de surmonter n'importe quel problème en prenant le temps de le découper en petites tâches gérables. Cette approche permet de déplacer des montagnes, pourvu que l'on y consacre le temps nécessaire et que l'on minimise les surprises en cours de route.</p>
    </div>

    <div class="grid-item my-learnings">
      <h2 class="subtitle">Ce que j'ai appris</h2>
      <ul>
        <li>Maîtrise de la migration de l'application de AngularJS à Angular 17-18.</li>
        <li>Développement de compétences avancées en TypeScript et initiation en Java Spring Boot.</li>
        <li>Application des pratiques de CI/CD et des méthodes agiles (Scrum et Kanban).</li>
        <li>Amélioration de l’UX/UI de l’application tout en maintenant sa performance et en ne chamboulant pas l'UX pour ne pas dépayser les utilisateurs.</li>
      </ul>
    </div>

    <div class="grid-item image-container">
      <img class="animate__animated animate__fadeIn" src="Rolex.svg" alt="Rolex Image">
    </div>

    <div class="grid-item achievements">
      <h2 class="subtitle">Réalisations</h2>
      <ul>
        <li>Transition réussie de l'application vers les nouvelles technologies.</li>
        <li>Implémentation de nouvelles fonctionnalités répondant aux besoins métiers.</li>
        <li>Réduction des bugs et amélioration de la qualité du code.</li>
        <li>Apprentisage des bases dans le domaine de la propriété intellectuelle (Classification de Nice, Classification nationale).</li>
      </ul>
    </div>

    <div class="grid-item personal-growth">
      <h2 class="subtitle">Croissance personnelle</h2>
      <p>Ce stage m’a permis de renforcer mes compétences en travail d’équipe et en résolution de problèmes. J’ai développé une plus grande adaptabilité aux nouvelles technologies et une meilleure compréhension des exigences du secteur du luxe.</p>
      <p>J'ai également appris à mieux prioriser, non seulement dans le contexte professionnel mais aussi personnel. Cela inclut savoir quand lâcher prise et identifier ce qui est vraiment important, que ce soit en termes de priorisation des tâches ou du temps investi par rapport aux gains potentiels.</p>
    </div>
  </div>
</div>
