<h1 class="title">Technologies utilisées durant mon stage</h1>
<div class="tech-stack">
  <div class="icons">
    <div class="icon" *ngFor="let tech of techStack">
      <div class="card">
        <img [src]="tech.imageUrl" [alt]="tech.name" />
        <span class="font-bold">{{ tech.name }}</span>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="skills-container">
    <div class="skills-card">
      <h1 class="subtitle">Les compétences techniques</h1>
      <ul class="skills-list">
        <li>API REST</li>
        <li>Tests Unitaires</li>
        <li>Asynchrones</li>
        <li>Méthodologies Agiles</li>
        <li>Création de Endpoint en Java</li>
      </ul>
    </div>
  </div>
</section>
