<div class="tech-stack">
  <h1 class="title">Technologies utilisées durant mon stage</h1>

  <div class="icons">
    <div class="icon" *ngFor="let tech of techStack | keyvalue">
      <div class="card">
        <img [src]="tech.value" [alt]="tech.key" />
        <span class="font-bold">{{ tech.key }}</span>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="flex flex-wrap gap-8 mt-8">
    <div class="border border-white-100 rounded-lg p-6 shadow-lg flex-1 sm:max-w-none backdrop-filter backdrop-blur-sm">
      <h1 class="subtitle mb-5 text-lg">Les compétences techniques</h1>
      <ul class="font-bold list-disc pl-6 text-p">
        <li class="mb-2 mt-5">API REST</li>
        <li class="mb-2">Tests Unitaires</li>
        <li class="mb-2">Asynchrones</li>
        <li class="mb-2">Méthodologies Agiles</li>
        <li>Création de Endpoint en Java</li>
      </ul>
    </div>
  </div>
</section>
