<div class="toc-container">
  <h2>Table of Contents</h2>
  <ul class="toc-list">
    <li>
      <a routerLink="/" routerLinkActive="active" (click)="closeToc()" class="toc-card">
        <i class="fas fa-home"></i>
        <span>Accueil</span>
      </a>
    </li>
    <li>
      <a routerLink="/about-rolex" routerLinkActive="active" (click)="closeToc()" class="toc-card">
        <i class="fas fa-info-circle"></i>
        <span>A propos de Rolex</span>
      </a>
    </li>
    <li>
      <a routerLink="/app-mission" routerLinkActive="active" (click)="closeToc()" class="toc-card">
        <i class="fas fa-briefcase"></i>
        <span>Ma mission</span>
      </a>
    </li>
    <li>
      <a routerLink="/tech-stack" routerLinkActive="active" (click)="closeToc()" class="toc-card">
        <i class="fas fa-cogs"></i>
        <span>Tech stack</span>
      </a>
    </li>
    <li>
      <a routerLink="/app-mes-travaux" routerLinkActive="active" (click)="closeToc()" class="toc-card">
        <i class="fas fa-project-diagram"></i>
        <span>Mes travaux</span>
      </a>
    </li>
    <li>
      <a routerLink="/app-expectations" routerLinkActive="active" (click)="closeToc()" class="toc-card">
        <i class="fas fa-exclamation-circle"></i>
        <span>Attente et Réalité</span>
      </a>
    </li>
    <li>
      <a routerLink="/app-conclusion" routerLinkActive="active" (click)="closeToc()" class="toc-card">
        <i class="fas fa-flag-checkered"></i>
        <span>Conclusion</span>
      </a>
    </li>
  </ul>
</div>
