<section class="internship glass-card" id="internship">
  <h2 class="title">Les effets de mon stage sur mon développement professionnel et personnel</h2>
  <div class="tech-grid">
    <div class="tech-card">
      <h3>Impact Professionnel et technique</h3>
      <ul>
        <li>Tests unitaires</li>
        <li>Modernisation UI/UX</li>
        <li>Référence professionnel dans le CV</li>
        <li>Méthodes agiles (KANBAN)</li>
        <li>Écosystème Angular</li>
        <li>Initiation à Spring Boot et Java</li>
        <li>Comprendre les besoins dans un Système d'Information complexe tout en pensant à l'interopérabilité du projet/produit</li>
      </ul>
    </div>
    <div class="tech-card">
      <h3>Impact Personnel</h3>
      <ul>
        <li>Meilleure approche pour la résolution de problèmes</li>
        <li>Apprentissage et utilisation de nouveaux outils</li>
        <li>Acquisition initiation des bases du domaine de la propriété intellectuelle</li>
        <li>Gérer son rythme de vie</li>
        <li>Comprendre les besoins métiers et les contraintes technologiques</li>
      </ul>
    </div>
  </div>
</section>
