<section class="internship glass-card" id="internship">
  <h2 class="title">Les effets de mon stage sur mon développement professionnel et personnel</h2>
  <div class="tech-grid">
    <div class="tech-card">
      <h3>Impact Professionnel et technique</h3>
      <ul>
        <li>Tests unitaires</li>
        <li>Modernisation UI/UX</li>
        <li>Première véritable expérience en tant que développeur sur du long terme en entreprise + entreprise référence dans son domaine</li>
        <li>Méthodes agiles (KANBAN)</li>
        <li>Écosystème Angular</li>
        <li>Initiation à Spring Boot et Java</li>
        <li>Compréhension des besoins d'un système d'information complexe tout en assurant que le projet/produit fonctionne bien avec d'autres systèmes.</li>
      </ul>
    </div>
    <div class="tech-card">
      <h3>Impact Personnel</h3>
      <ul>
        <li>Meilleure approche pour la résolution de problèmes</li>
        <li>Apprentissage et utilisation de nouveaux outils</li>
        <li>Acquisition initiation des bases du domaine de la propriété intellectuelle</li>
        <li>Gestion de son rythme de vie</li>
        <li>Compréhension des besoins métiers et les contraintes technologiques</li>
      </ul>
    </div>
  </div>
    <section class="bilan modern-bilan">
      <h3 class="subtitle">Bilan de Développement Personnel et Professionnel</h3>
      <section class="bilan-section mb-10">
        <p class="bilan-text">
          Grâce à ce stage, j'ai enfin pu avoir ma première expérience en tant que développeur sur du long terme et à 100%. Cela m'a permis de vraiment me familiariser avec l'environnement de travail et les collègues avec qui j'ai collaboré. Sur le plan social, cette expérience m'a aidé à gagner en assurance, en particulier pour combattre mon syndrome de l'imposteur.
        </p>
        <p class="bilan-text">
          La migration sur laquelle j'ai travaillé m'a permis de développer des compétences techniques qui me seront toujours utiles, sauf si les avancées en IA deviennent réellement spectaculaires. J'ai aussi beaucoup apprécié l'expérience où tout était sécurisé en interne, ce qui m'a empêché de me reposer sur mes ressources web habituelles pour la résolution de problèmes techniques ou de design. L'entreprise avait son propre équivalent de GPT-4, ce qui m'a offert un bon compromis : je ne pouvais pas me reposer entièrement sur l'IA, mais elle était assez utile pour de simples tâches nécessitant de multiples modifications sur plusieurs fichiers.        </p>
        <p class="bilan-text">
          J'ai désormais une grande aisance avec Angular et je pense qu'actuellement, je suis même plus à l'aise avec ce framework que je ne l'étais avec le langage Python. Les méthodes agiles que nous avons utilisées, notamment KANBAN, m'ont donné un excellent aperçu du fonctionnement des tickets et de la manière de découper une tâche pour qu'elle soit facilement réalisable dans une même journée. En outre, mes lacunes en matière d'UX et de design, ont été mises en lumière lors de la création de ce rapport. Je dois donc m'efforcer d'améliorer ces compétences et continuer à apprendre ces concepts pour réaliser des projets notament Noctinium que je dois revisiter.
        </p>
      </section>
    </section>
</section>
