.modal-content {
  width: 90%; /* Ensure full width with slight padding on small screens */
  max-height: calc(100vh - 2rem); /* Ensure max height with slight margin */
  overflow-y: auto; /* Scroll if content overflows */
  margin: auto; /* Center the modal */
}

@media (min-width: 640px) {
  .modal-content {
    max-width: 32rem; /* Adjust size for larger screens */
    padding: 1.5rem; /* Adjust padding for larger screens */
  }
}

@media (min-width: 768px) {
  .modal-content {
    max-width: 48rem; /* 768px Maximum width */
    padding: 2rem; /* Adjust padding for larger screens */
  }
}

@media (min-width: 1024px) {
  .modal-content {
    max-width: 56rem; /* 896px Maximum width */
    padding: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .modal-content {
    max-width: 64rem; /* 1024px Maximum width */
    padding: 3rem; /* Adjust padding for larger screens */
  }
}

@media (min-width: 1536px) {
  .modal-content {
    max-width: 72rem; /* 1152px Maximum width */
    padding: 3.5rem; /* Adjust padding for larger screens */
  }
}

/* Ensure proper padding adjustment on modal header and footer for mobile */
.modal-header, .modal-footer {
  padding: 1rem;
}

@media (min-width: 640px) {
  .modal-header, .modal-footer {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .modal-header, .modal-footer {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .modal-header, .modal-footer {
    padding: 2.5rem;
  }
}

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
}

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-50 {
  z-index: 50;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.bg-rolex-green {
  background-color: var(--rolex-green);
}

.bg-rolex-gold {
  background-color: var(--rolex-gold);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.text-center {
  text-align: center;
}


.relative {
  position: relative;
}

.text-p {
  font-size: 1.9rem; /* Ensure readability on small screens */
  line-height: 1.5;
}

#secondary-modal .modal-content {
  max-width: 10%;
  max-height: 100%;
  overflow-y: auto;
}

/* Specific adjustments for small screens like iPhone SE */
@media (max-width: 640px) {
  #secondary-modal {
    height: auto; /* Allow auto height for mobile */
    max-height: 600px; /* Ensure it does not exceed 600px */
  }

  #secondary-modal .modal-content {
    padding: 1rem; /* Reduce padding for small screens */
  }

  #secondary-modal .text-p, #secondary-modal .text-lg {
    font-size: 1rem; /* Ensure smaller text for readability */
    line-height: 1.25; /* Adjust line height for spacing */
  }

  #accordion-secondary button {
    padding: 0.5rem 1rem; /* Reduce padding for accordion buttons */
  }

  #accordion-secondary .p-5 {
    padding: 1rem; /* Adjust padding inside accordion content */
  }
}

/* Responsive text sizes for larger screens */
@media (min-width: 640px) {
  #secondary-modal .text-p {
    font-size: 1.25rem;
  }

  #secondary-modal .text-lg {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  #secondary-modal .text-p {
    font-size: 1.5rem;
  }

  #secondary-modal .text-lg {
    font-size: 1.75rem;
  }
}

@media (min-width: 1024px) {
  #secondary-modal .text-p {
    font-size: 1.75rem;
  }

  #secondary-modal .text-lg {
    font-size: 2rem;
  }
}

