<div class="retours-container">
  <h1 class="title">Ce que j'en ai retiré</h1>

  <div class="retours-grid text-white text-sm">
    <p>Ce stage m'a permis d'atteindre plusieurs objectifs tant professionnels que personnels. J'ai non seulement acquis des compétences techniques précieuses, mais j'ai également appris à travailler efficacement en équipe et à m'adapter rapidement à des technologies nouvelles.</p>
  </div>

  <div class="retours-grid">
    <div class="retours-left">
      <ul>
        <li>Maîtrise de la migration d'AngularJS à Angular 17-18, avec une profonde compréhension des différences et des exigences des deux frameworks.</li>
        <li>Développement d'une méthodologie rigoureuse pour assurer la qualité du code et la gestion des projets complexes.</li>
        <li>Renforcement de mes compétences en développement full stack, me rendant plus polyvalent et préparé pour des défis futurs.</li>
        <li>Meilleur maitrise des API REST</li>
        <li>Initiation au test unitaire</li>
        <li>Meilleur maitrise des observables et de RxJs</li>
        <li>Meilleur maitrise de typeScript</li>
      </ul>
    </div>
    <div class="retours-right">
      <img class="animate__animated animate__fadeIn" src="super-dev.png" alt="Illustration de l'expérience">
    </div>
  </div>
</div>
