<div class="container">
  <div class="expectations-container">
    <h1>Mes attentes envers le stage chez Rolex</h1>

    <div class="expectation-item">
      <h2>1. Apprentissage et Développement</h2>
      <p>
        Je souhaite acquérir de nouvelles compétences techniques et approfondir mes connaissances en développement web,notamment dans les technologies et  les outils utilisés par Rolex et  qui permettent de développer de manière plus efficace.
      </p>
    </div>
    <div class="expectation-item">
      <h2>2. Projets et outils</h2>
      <p>
        Je suis impatient de participer à des projets qui ont un impact réel sur l'entreprise et répondent aux besoins spécifiques des métiers. D'apprendre  à utiliser de nouveaux outils qui simplifient ma vie de développeur ou de nouveaux outils pratiques qui me feraient gagner du temps.      </p>
    </div>
    <div class="expectation-item">
      <h2>3. Mentorat et Soutien</h2>
      <p>
        Je recherche un mentorat de la part de professionnels expérimentés qui peuvent me guider dans ma première expérience de développeur. J'espère travailler dans un environnement où la collaboration et l'échange d'idées sont encouragés, tirant ainsi parti des forces de chacun.
      </p>
    </div>
    <div class="expectation-item">
      <h2>4. Culture d'Entreprise</h2>
      <p>
        Je suis attiré par la culture d'entreprise de Rolex, qui valorise l'excellence et le respect. Je souhaite m'intégrer dans cette culture et contribuer à son succès. Les gens seront surement stricts et exigeants, mais c'est pour avoir un œil au niveau des détails ou juste ce qui est vraiment important. J'espère aussi pouvoir en apprendre un maximum sur la protection de la marque et la propriété intellectuelle.      </p>
    </div>
  </div>

  <div class="reality-card">
    <h1>Réalité du stage et de l'entreprise Rolex</h1>
    <div class="reality-item">
      <h2>1. Apprentisage</h2>
      <p>
        La quantité de nouvelles choses à apprendre en un court laps de temps est importante.J'ai énormément appris, cependant, j'aurais souhaité en apprendre d'avantage sur le backend, même si j'ai eu des aperçus de technologies comme Spring Boot.
      </p>
    </div>
    <div class="reality-item">
      <h2>2. Travailler chez Rolex</h2>
      <p>
        Travailler chez Rolex implique de relever des défis quotidiens et de répondre à des exigences élevées en laps de temps réduit.
      </p>
    </div>
    <div class="reality-item">
      <h2>3. Mentorat</h2>
      <p>
        Le soutien des responsables et des mentors m'a permis d'évoluer de manière fluide et d'obtenir une certaine autonomie dans ce projet. L'équipe est toujours disponible pour aider en cas de question ou de problème, même si parfois les questions sont répétées.
      </p>
    </div>
    <div class="reality-item">
      <h2>4. Culture d'Entreprise</h2>
      <p>
        La culture d'entreprise est rigoureuse, mais les gens sont accueillants et ouverts. Nous bénéficions de formations régulières et de réunions journalières pour échanger. Il y a aussi beaucoup d'activités ensemble, comme des associtations sportives et artistiques. Nous avons une certaine liberté dans la gestion des horaires, ce qui apporte une tranquillité d'esprit inestimable.
      </p>
    </div>
  </div>
</div>
