<div class="container">
  <div class="expectations-container">
    <h1>Mes Attentes envers le Stage chez Rolex</h1>
    <p>
      En tant que développeur web, je suis enthousiaste à l'idée de rejoindre Rolex et de contribuer à des projets innovants. Voici mes attentes pour ce stage :
    </p>
    <div class="expectation-item">
      <h2>1. Apprentissage et Développement</h2>
      <p>
        Je souhaite acquérir de nouvelles compétences techniques et approfondir mes connaissances en développement web, notamment dans les technologies utilisées par Rolex et leurs outils qui permettent de développer de manière plus efficace.
      </p>
    </div>
    <div class="expectation-item">
      <h2>2. Environnement Collaboratif</h2>
      <p>
        J'espère travailler dans un environnement où la collaboration et l'échange d'idées sont encouragés, tirant ainsi parti des forces de chacun.
      </p>
    </div>
    <div class="expectation-item">
      <h2>3. Projets Significatifs</h2>
      <p>
        Je suis impatient de participer à des projets qui ont un impact réel sur l'entreprise et répondent aux besoins spécifiques des métiers.
      </p>
    </div>
    <div class="expectation-item">
      <h2>4. Mentorat et Soutien</h2>
      <p>
        Je recherche un mentorat de la part de professionnels expérimentés qui peuvent me guider dans ma première expérience de développeur.
      </p>
    </div>
    <div class="expectation-item">
      <h2>5. Culture d'Entreprise</h2>
      <p class="hover-text">
        Je suis attiré par la culture d'entreprise de Rolex, qui valorise l'excellence et le respect. Je souhaite m'intégrer dans cette culture et contribuer à son succès.
      </p>
    </div>
  </div>

  <div class="reality-card">
    <h1>Réalité du Stage et de l'Entreprise</h1>
    <div class="reality-item">
      <h2>1. Travailler chez Rolex</h2>
      <p>
        Travailler chez Rolex implique de relever des défis quotidiens et de répondre à des exigences élevées en laps de temps réduit.
      </p>
    </div>
    <div class="reality-item">
      <h2>2. Culture d'Entreprise</h2>
      <p>
        La culture d'entreprise est rigoureuse, mais les gens sont accueillants et ouverts. Nous bénéficions de formations régulières et de réunions journalières pour échanger. Il y a aussi beaucoup d'activités ensemble, comme des clubs, des soirées de fin d'année, ou des week-ends de management pour discuter de l'avenir. Nous avons une certaine liberté dans la gestion des horaires, ce qui apporte une tranquillité d'esprit inestimable.
      </p>
    </div>
    <div class="reality-item">
      <h2>3. Base de Connaissances</h2>
      <p>
        La quantité de nouvelles choses à apprendre en un court laps de temps est importante, mais l'équipe est toujours disponible pour aider en cas de question ou de problème, même si parfois les questions sont répétées.
      </p>
    </div>
    <div class="reality-item">
      <h2>4. Mentorat</h2>
      <p>
        Le soutien des responsables et des mentors m'a permis d'évoluer de manière fluide et d'obtenir une certaine autonomie dans ce projet.
      </p>
    </div>
    <div class="reality-item">
      <h2>5. Apprentisage et Projets</h2>
      <p class="hover-text">
        J'ai énormément appris, cependant, j'aurais souhaité en apprendre d'avantage sur le backend, même si j'ai eu des aperçus de technologies comme Spring Boot.
      </p>
    </div>
  </div>
</div>
